* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background: #f5f2eb;

  font-family: Arial, sans-serif;

  font-size: 16px;
}

h1 {
  margin: 0;
  font-family: serif;
  font-size: 3rem;
  color: #222;
}
h2 {
  font-family: serif;
  font-size: 2.5rem;
}
p {
  font-size: 1.6rem;
}

/* -----------------
   SCROLL
----------------- */

main {
  height: 565vh;
}

/* -----------------
   SCENE
----------------- */

.scene {
  position: relative;

  top: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

/* -----------------
   DESIGN 1920 x 1080
----------------- */

.design {
  position: absolute;

  width: 1920px;
  height: 1080px;

  left: 50%;
  top: 50%;
}

/* -----------------
   TEXTE
----------------- */

.text {
  position: absolute;

  top: 10%;
  left: 5%;

  opacity: 1;

  z-index: 10;
}

/* -----------------
   POINTS
----------------- */

.dot {
  opacity: 1;

  transform: scale(0);

  position: absolute;

  border-radius: 50%;
}

.dot1 {
  width: 20px;
  height: 20px;

  left: 50%;
  top: 50%;

  background: rgb(227, 73, 50);
}

.dot2 {
  left: 65%;
  top: 50%;

  width: 55px;
  height: 55px;

  background: #7ca7ca;
}

.dot3 {
  left: 75%;
  top: 38%;

  background: #e8b52d;
}

.dot4 {
  left: 58%;
  top: 49%;

  width: 145px;
  height: 145px;

  background: #e8b52d;
}

.dot5 {
  left: 72%;
  top: 42%;

  width: 45px;
  height: 45px;

  background: #e87955;
}

.dot6 {
  left: 42%;
  top: 62%;

  width: 12px;
  height: 12px;

  background: #2f6fa3;
}

.dot7 {
  left: 63%;
  top: 68%;

  width: 95px;
  height: 95px;

  background: #4c8b68;
}

.dot8 {
  left: 38%;
  top: 38%;

  width: 85px;
  height: 85px;

  background: #fad8e0;
}

/* -----------------
   LIGNE COURBEE
----------------- */

.line {
  position: absolute;

  width: 100%;

  left: 0;
  top: 50%;

  transform: translateY(-50%);
}

.line path {
  fill: none;

  stroke: black;

  stroke-width: 3;

  stroke-linecap: round;
}

/* -----------------
   LIGNES ENTRE LES POINTS
----------------- */

.connections {
  position: absolute;

  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
}

.connection {
  fill: none;

  stroke: #222;

  stroke-width: 2;
}

/* -----------------
   FEUILLE
----------------- */

.feuille {
  position: absolute;

  width: 180px;

  left: 45%;
  top: 30%;

  opacity: 0;
}

/* -----------------
   PAYSAGES
----------------- */

.illustration {
  position: absolute;

  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
}

.paysage {
  position: absolute;

  width: 100%;
  height: 100%;

  left: 0;
  top: 0;

  object-fit: cover;

  opacity: 0;
}
section:nth-child(2) {
  height: 100vh;
  display: flex;
}
.text-first {
  height: 100vh;
}

/* -----------------
   CARD END
----------------- */

.card-end {
  position: relative;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

/* -----------------
   PLAN 1920 x 1080
----------------- */

.card-end-content {
  position: absolute;

  width: 1920px;
  height: 1080px;

  left: 50%;
  top: 50%;

  transform-origin: center center;

  overflow: hidden;
}

/* -----------------
   IMAGES
----------------- */

.card-end-image {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0;
  top: 0;
  object-fit: cover;
}

/* -----------------
   EAU
----------------- */

.water {
  opacity: 0;
}

/* -----------------
   OISEAU
----------------- */

.bird {
  position: absolute;

  width: 480px;
  height: 480px;

  left: 0;
  top: 0;

  object-fit: contain;

  z-index: 20;
}

/* -----------------
   AUTRES IMAGES
----------------- */

.sun,
.blue-mountain,
.right-mountain,
.left-mountain,
.right-tree,
.left-tree,
.bridge {
  opacity: 0;
}

/* -----------------
   TEXTE
----------------- */

.card-end-text {
  position: absolute;

  left: 50%;
  top: 22%;

  transform: translateX(-50%);

  width: 700px;

  text-align: center;

  z-index: 10;
}
